#titulo{
    font-family: sans-serif;
    margin-top: 5%;
}

.center {
    text-align: center;
}

fieldset{
    border: 0;
}

input{
    display: block;
}

label{
    display: inline-block;
}

.ui.container{
    text-align: left;
    padding-left: 12.5%;
}

#botao:hover{
    background: rgb(119, 78, 255);

}

.ui.input input[type="email"]:focus, .ui.input input[type="password"]:focus{
    background: rgb(231, 224, 255);
}